
/* Navigation */

.nav-logo {
    padding: 0px;
    color: white;
    font-size: 20px;
    margin: 0;
}

#nav-logo {
    padding: 0;
    font-size: 20px;
    margin: 0;

}

body{
    margin: 0px;
    overflow-x: hidden;
}
header{
    background-color: rgb(113, 51, 51);

}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    line-height: 70px;
    font-size: 20px;  
    margin: 0;
    flex-direction: column;
}

nav > span{
    color: white;
    margin: 0 5px 0 50px;
}

a {
    color: white;
    text-decoration: none;
    margin: 2px
}


span {
    color: white;
    display: block;
    padding: 5px;
}

.section-background {
    background-image: url(images/Untitled-1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 80px 0px 30px 0px;
}

.container {
    margin: 0 auto;
}


/* index */
.text-center{
    margin: auto;
    padding: 0 15px 0 15px;
    border: 4px solid white;
    background-color: black;
    color: white;
    width: 60%;
    height: 80px;
    text-align: center;
    font-size: 12px;
    /*this center the text inside de box*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    
    
}

.display-flex{
    display: flex;
    height: 30%;
    margin: 0px 0px 40px 0px;
    justify-content: space-evenly; /*center the boxes horizontal*/
    align-items: center; /*center the boxes vertical*/
    flex-direction: column;
    
}

.box {
    background-color: black;
    height: 250px;
    width: 50%;
    padding: 40px;
    margin: 0px 0px 30px 0px;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    
}


/* Ruoutine */

.image {
    height: 180px;
    width: 270px;
    margin: 0;
    padding: 0;
}

.container-routine{
    
    text-align: center;
}

table{
    background-color: white;
    color: black;
    border: 1px white;
    
}
caption{
    text-align: left;
    color: white;

}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}










/*General Footer*/

footer{
    text-align: center;
    padding: 0px;
    margin-top: 0px;
    background-color: black;
    padding-bottom: 10px;
    
}

/*social media */


i {
    font-size: 20px;
}

.list-social-media {
    margin: 0px;
    
}

li {
    display: inline;
    font-size:30px;
    list-style-type: none;
    padding: 0;
}

ul {
    padding: 10px 0px 5px 0px;
}

.contact{
    display: block;
}


.footer{
    padding-bottom: 10px;
    
    
}




@media screen and (min-width: 320px) {
    .container{
        max-width:760px;
    }  
}

@media screen and (min-width: 768px) {
    .container{
    max-width:1024px;
    }
    nav{
        text-align: right;
        height: 70px;
        flex-direction: row;

    }
    .display-flex{
        flex-direction: row;
    gap: 40px;
    }
    

}

@media screen and(min-width: 1024px) {
    .container{
    max-width:1440px;
    }

}

@media screen and (min-width: 1440px) {
    .container{
    max-width:1440px;
    }
}