
/* Navigation */

nav {
    text-align: center;
    line-height: 70px;
    font-size: 20px;  
    color: white;
    margin: 0;
    padding: 0;
}

#fitness-club{
    margin: 0;
}


body{
    margin: 0px;
    font-family:Georgia, 'Times New Roman', Times, serif
}

header{
    background-color: rgb(113, 51, 51);

}

a {
    color: white;
    text-decoration: none;
    margin: 0px;
    padding: 0px 8px;
}

a:hover{
    background-color: rgb(150, 50, 50);
    padding: 5px;
}

span {
    display: block;
    padding: 5px;
}

.section-background {
    background-image: url(images/Untitled-1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 70px 0px 30px 0px;
}

.container {
    margin: 0 auto;
}

/*General Footer*/

footer{
    color: white;
    text-align: center;
    background-color: black;
    padding-bottom: 10px;
}

/*social media */


i {
    font-size: 20px;
}

.list-social-media {
    margin: 0px;
    
}

li {
    display: inline;
    font-size:30px;
    list-style-type: none;
    padding: 0;
}

ul {
    padding: 10px 0px 5px 0px;
}

.contact{
    display: block;
}


.footer{
    padding-bottom: 10px;
    
    
}


/* INDEX */
.text-center{
    margin: auto;
    padding: 0 15px 0 15px;
    border: 4px solid white;
    background-color: black;
    color: white;
    width: 60%;
    height: 80px;
    text-align: center;
    font-size: 12px;
    /*this center the text inside de box*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    
    
}

.display-flex{
    display: flex;
    height: 30%;
    margin: 0px 0px 40px 0px;
    justify-content: space-evenly; /*center the boxes horizontal*/
    align-items: center; /*center the boxes vertical*/
    flex-direction: column;
    
}

.box {
    background-color: black;
    height: 250px;
    width: 50%;
    padding: 40px;
    margin: 0px 0px 30px 0px;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    
}


/* WORKOUT */

.image {
    height: 180px;
    width: 270px;
    margin: 0;
    padding: 20px;
}

.container-routine{
    
    text-align: center;
}

table{
    background-color: white;
    color: black;
    border: 1px white;
    
}
caption{
    text-align: left;
    color: white;

}


.table {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.content-table{
    border: 1px solid black;
    border-collapse: collapse;
    margin: 25px 0;

}

.content-table thead tr{
    background-color: rgb(150, 50, 50);
    color: white;
}

.content-table th,
.content-table td {
    padding: 8px 11px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-last-of-type(even){
    background-color:#f3f3f3 ;
}

caption{
    text-align: center;
    font-size: larger;
    padding: 10px;
    text-transform: uppercase;
    background-color: black;
}

/* SIGN UP */


.box-price {
    display: flex;
    justify-content: center;
    
}

#form-box{
    height: 250px;
}

.box-signup{
    height: 170px;
    width: 60%;
    background-color: black;
    color: white;
    padding-bottom: 40px;
    text-align: center;
}

#box-signup{
    padding: 30px 0;
}

.banner{
    text-align: center;
    padding: 15px;
    background-color: rgb(113, 51, 51);
    
}

.box-text{
    padding-top: 20px;
    margin: 0;
}

#box-right{
    margin: 40px 0px;
}

#box-left{
    margin: 5px 0px 40px 0;
}

#form-box{
    width: 90%;
}

form {
    padding: 20px 3px;
}

.label{
    padding: 10px;
    text-align: left;
}

#submit{
    text-align: center;
    padding-top: 15px;
}






/* Media queries */

@media screen and (min-width:960px) {

    /* Nav */

    /* header{
        text-align: right;
        height: 70px;
        flex-direction: row;
        display: flex; 
        align-items: center; 
        justify-content: space-between;
        margin: 0;
        } */
    
    #nav-logo{
        display: inline;
    }
   
    .nav-items{
        
    }
    
    /* index */
    .display-flex{
        flex-direction: row;
        gap: 40px;
        }

    .container{
        max-width:1024px;
    }

    /* Workout */
    .table{
        margin: 40px;
    }
    
    .row{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

